h1 {
    font-family: 'Press Start 2P', cursive, "Comic Sans MS";
}

span {
    font-size: 13px;
    font-family: monospace;
}

body {
    background-color: beige;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 10px;
    width: 10px;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

.colorPicker {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

.colorPicker:hover {
    /*background-color: black;*/
    height:65px;
    width:65px;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
}

#easle {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    /*height: 50px;*/
}

#pallet {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 50px;
    width: auto;
}

#currentColor {
    float: right;
    height: 44px;
    width: 15%;
    border-style: solid;
    border-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}

#gray {
    background-color: gray;
}

#white {
  background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#white:hover {
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
}

#mystery {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    animation: colorchange 10s infinite;
}

#mystery:hover {
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
}


p{
  z-index: 3;
  color: black;
  /*float: right;*/
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
  /*left:45%;*/
}

@keyframes colorchange {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}
